body {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  line-height: 1.3;
  background: linear-gradient(#fffef6, #fffabe);
  position: relative;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

section {
  padding: 1rem;
  margin: 0 auto;
}
.firstSection {
  position: relative;
  display: flex;
  flex-direction: column;
}

.award-box {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 100%;
}

.award-img {
  width: 50%;
  /* max-width: 500px; */
  /* object-fit: contain;
  object-position: center; */
}

.left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  max-width: 250px;
}

.honor-img {
  width: 100%;
}

.section2 {
  text-align: center;
}
.section2 p {
  text-align: center;
}

.section2 img {
  margin-top: 1rem;
  width: 80%;
}

footer {
  padding: 2rem 1rem;
  background-color: red;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

footer [class*="fa-"] {
  color: white;
  padding: 5px;
  margin-right: 5px;
  font-size: 1.5rem;
}

footer [class="fa-phone"] {
  color: red;
  background-color: white;
  border-radius: 100%;
}

hr {
  height: 1px;
  background-color: black;
}
@media screen and (min-width: 850px) {
  section {
    max-width: 1440px;
    margin: auto;
  }
  .firstSection {
    display: grid;
    grid-template-columns: auto auto;
  }
  .award-box {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 500px;
  }
  .award-img {
    width: 100%;
  }
  .left {
    order: 2;
  }
}

@media screen and (min-width: 300px) {
  .logo {
    width: 300px;
  }
}
